
.container {
  padding: 2rem;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
}

.buttonGroup {
  text-align: center;
}

.container input {
  padding: 0.5rem;
  border: 1px solid gray;
  width: 100%;
}

button {
  padding: 0.4rem 1rem;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 2rem;
}

.add{
  background:black;
  color: white
}