.container {
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.container hr {
  margin: 2rem 0;
  height: 4px;
  background-color: black;
}

.container form {
  margin-bottom: 5rem;
}

.container input {
  border: 1px solid rgb(177, 177, 177);
  padding: 1rem;
  width: 100%;
  min-width: 200px;
  margin: 0.2rem 0;
  outline: none;
}

input:focus {
  border: 1px solid black;
}



button[type='submit'] {
  margin-top: 1.5rem;
  background: black;
  color: white;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}


.register {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 30px;
  /* transition: all 0.2s; */
}


.register:hover {
  background: black;
  color: white;
}