.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 440px;
  padding: 1rem;
  /* border: 1px solid red; */
  overflow: hidden;
}

.container h2{
  font-size: 3rem;
  font-weight: bold;
}

.container .line {
  height: 4px;
  background: rgb(226, 226, 226);
  margin-bottom: 1rem;
}

.container .line > div {
  width: 0;
  height: 100%;
  background: black;
}

.wrapper {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.wrapper > div {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper input {
  border: 1px solid rgb(190,190,190);
  padding: 1rem;
  width: 100%;
  min-width: 200px;
  margin: 0.5rem 0;
  outline: none;
}

.wrapper button {
  margin-top: 1.5rem;
  background: black;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.wrapper button:disabled {
  background: #dbdbdb;
  color: black;
  cursor: not-allowed;
  /* disacled 모드에서는 버튼 클릭 안 됨 */
}

